:root {
    --primary-color: rgb(255, 174, 0);
}

.highlight {
    background-color: yellow;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
}

#file-content {
    white-space: pre-wrap;
}

/* page header */

body > .header {
    padding-left: 3em;
    height: 2em;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 2em;
    box-shadow: 0px 1px 10px #aaa;
}
/* files controllers */

.files-controller {
    padding: 1rem 0.5rem;
    display: flex;
    gap: 1rem;
}

/* files styles */
.files-display {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    outline: auto;
}
.description {
    outline: auto;
    padding: 1rem;
    width: 20%;
    background-color: rgb(126, 126, 126);
}
.description-text {
}

#file-content {
    padding: 1rem;
    overflow-y: scroll;
    width: 80%;
}
.files-result {
    background-color: rgb(236, 236, 236);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    outline: auto;
}
.word-aside {
    padding: 0.2rem 0.5rem;
    outline: auto;
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
.words-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.5rem;
    overflow-y: scroll;
    width: 500px;
    height: 300px;
    background-color: rgb(212, 211, 211);
}
.words-wrapper {
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 15px rgb(150, 150, 150);
}
.words-wrapper .header {
    position: relative;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 174, 0);
    height: 2rem;
    color: white;
    text-align: center;
}

.words-wrapper .header .close-wrapper {
    font-size: 1.3rem;
    right: 10px;
    top: 3px;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(209, 209, 209);
}
.words-wrapper .header .close-wrapper::after,
.close-wrapper::before {
    content: '';
    height: 1.2em;
    width: 0.07em;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
}
.words-wrapper .header .close-wrapper::after {
    transform: rotate(45deg);
    top: 0;
    right: 10;
}

.words-wrapper .header .close-wrapper::before {
    transform: rotate(-45deg);
    top: 0;
    right: 10;
}

.visible {
    display: flex;
}
.words-input:focus,
.words-input:hover {
    outline: none;
}
.form-wrapper {
    display: flex;
}
.words-input {
    flex: auto;
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    height: 2rem;
    border: none;
    background-color: rgb(255, 255, 255);
}
.word {
    font-weight: 400;
    cursor: alias;
    color: white;
    background: blue;
    padding-left: 0.6rem;
    padding-right: 0.15rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 1.7rem;
}
.close-btn {
    box-shadow: 1px, 10px, 20px, black;
    cursor: pointer;
    background-color: gray;
    padding: 0.2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-wrapper {
    cursor: pointer;
}
